/* TODO Add site wide styles */
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

body {
    background-color: rgba(2, 2, 4);
    margin: 0px;
    /* padding: 0px; */
}

#root {
    background-color: rgb(2, 2, 4);
    margin: 0px;
    /* width: 100%; */
    /* padding: 0px; */
}

button:hover {
    cursor: pointer;
    background-color: rgb(2,2,4);
    color: rgb(128, 206, 135);
}

div{
    margin: 3px;
  }

button {
    background-color: rgb(128, 206, 135);
    color: rgb(31,72,41);
}
