/* TODO Add site wide styles */
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

body {
    background-color: rgba(2, 2, 4);
    margin: 0px;
    background-image: url("https://i.imgur.com/WPkl7Nm.gif");
    /* padding: 0px; */
}

#root {
    background-color: rgb(2, 2, 4);
    margin: 0px;
    /* width: 100%; */
    /* padding: 0px; */
}

button:hover {
    cursor: pointer;
    background-color: rgb(2,2,4);
    color: rgb(146, 229, 161);
}

div{
    margin: 3px;
  }

button {
    background-color: rgb(146, 229, 161);
    color: rgb(31,72,41);
}

