/* TODO Add site wide styles */
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

body {
    background-color: rgba(255,255,255);
    margin: 0px;
    /* padding: 0px; */
}

#root {
    background-color: rgb(217,217,217);
    margin: 0px;
    /* width: 100%; */
    /* padding: 0px; */
}

button:hover {
    cursor: pointer;
}

div{
    margin: 3px;
  }
