.profile-dropdown {
  position: absolute;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  left: 30px;
}

.hidden {
  display: none;
}

ul {
  background-color: rgb(2, 2, 4);
  margin: 0px;
}

html {
  background-color: rgb(2, 2, 4);
}

.navbutns {
  background-color: rgb(2, 2, 4);
  display: flex;
  justify-content: space-between;
}

.homeB {
  height: 20px;
  width: 20px;
}

.fa-user-circle {
  border: transparent;
}

.navTotal {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(2, 2, 4);
  border-bottom: 2px solid rgb(2, 2, 4);
}

#profBtn {
  width: 30px;
}

#noUser {
  background-color:rgb(2, 2, 4);
  width: 100%;
  color: rgb(34, 180, 85);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid rgb(146, 229, 161);
}
