#likeC {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 3px cyan dotted; */
    margin: 0px;
    padding: 0px 10px;
    /* flex-direction: column; */
}

.likeImage {
    width: 20px;
    height: 20px;
}

.likeImage:hover {
    box-shadow: 0px 0px 10px 2px rgb(2,2,4);
    cursor: pointer;
    border-radius: 15px;
}
