#profPageSingle {
    background-color: rgb(2,2,4);
    /* padding: 5px; */
    color: rgb(146,229,161);
    background-image: url("https://i.imgur.com/QVXxGSI.gif");

}

#backimg {
    width: 100%;
    height: 100%;
    background-color: rgb(2,2,4);
    box-shadow: 0px 0px 5px 5px white;
    /* border: rgb(2,2,4) 4px solid; */
    /* border: 20px solid cyan; */
}

#backimgCont {
    height: 500px;
    /* position: absolute; */
}

#profimg {
    position: absolute;
    top: 350px;
    left: 70px;
    border-radius: 50px;
    border: black solid 5px;
    box-shadow: 12px 12px 2px 1px white;
    background-color: rgb(60,110,113);
}

#profInfo {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filler {
    height: 100px;
}

#userPosts {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.userPost {
    border: 1px solid rgb(146,229,161);
    height: auto;
    padding: 5px;;
}

.postDate {
    color: rgb(146,229,161);
    display: flex;
    justify-content: end;
}

#noProfPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(217,217,217);
}

.profile-new-btn {
    background-color: rgb(40,75,99);
    color: rgb(255,255,255);
    width: 200px;
    height: 30px;
}

.profile-new-btn:hover {
    cursor: pointer;
}
