#profPageSingle {
    /* background-color: rgb(2,2,4); */
    /* padding: 5px; */
    color: rgb(146,229,161);
}

#ppWrapper {
    background-image: url("https://i.imgur.com/QVXxGSI.gif");

}

#pPS2 {
    background-color: rgb(2,2,4);
    margin: 0px 50px;
}

#backimg {
    width: 100%;
    height: 100%;
    background-color: rgb(2,2,4);
    box-shadow: 0px 0px 5px 5px white;
    /* border: rgb(2,2,4) 4px solid; */
    /* border: 20px solid cyan; */
}

#backimgCont {
    height: 500px;
    /* position: absolute; */
}

#profimg {
    position: absolute;
    top: 350px;
    left: 70px;
    border-radius: 50px;
    border: black solid 5px;
    box-shadow: 12px 12px 2px 1px white;
    background-color: rgb(2,2,4);
}

#profInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2,2,4);
    margin: 0px 200px;
    padding: 0px 100px;
    padding-bottom: 100px;
    border-radius: 800px;
    margin-bottom: 0px;
}

#profName {
    margin: 20px;
}

#profBio {
    width: 500px;
    margin: 20px;
    box-shadow: 0px 0px 10px 10px rgb(146, 229, 161);
    padding: 20px;
}

#filler {
    height: 100px;
}

#userPosts {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#nopostsdiv {
    display: flex;
    justify-content: center;
}

.userPost {
    /* border: 1px solid rgb(146,229,161); */
    box-shadow: 0px 0px 5px 5px rgb(146, 229, 161);
    height: auto;
    padding: 10px;
    margin: 10px;
}

.postDate {
    color: rgb(146,229,161);
    display: flex;
    justify-content: end;
}

#noProfPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: rgb(2,2,4);
}

.profile-new-btn {
    background-color: rgb(146,229,161);
    color: rgb(2,2,4);
    width: 200px;
    height: 30px;
}

.profile-new-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgb(146, 229, 161);
}

#bottomBs {
    margin-top: 40px;
}
