#homePage {
    /* background-color: rgb(2,2,4, 0.5); */
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://i.imgur.com/QVXxGSI.gif");
}


#selectForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(146, 229, 161);
    height: 50px;
    border-radius: 15px;
    margin-top: 50px;
    width: 50%;
    box-shadow: 0px 0px 5px 5px rgb(146, 229, 161);
    position: sticky;
    top: 110px;
}

.radio {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px black dotted;
    box-shadow: 0px 0px 5px 5px rgb(2,2,4);
    border-radius: 20px;
    padding: 2px;
    background-color: rgb(32, 72, 41);
}

.radio:hover {
    background-color: rgb(146, 229, 161);
    box-shadow: 0px 0px 5px 5px white;
}

.radio3 {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.radioBtns {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

#loginOut {
    background-color: cyan;

}
