#homePage {
    background-color: rgb(217,217,217);
    margin: 0px;
}


#selectForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(60,110,113);
    height: 80px;
}

.radio {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.radio3 {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
