#searchBar {
    width: 300px;
}

#allProfPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    /* border: 1px green solid; */
    margin: 3px;
}

.profDiv {
    width: 500px;
    border: 2px black solid;
    margin: 5px;
}

#allProfInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profPic {
    width: 490px;
    height: 490px;
    /* border: 2px cyan solid; */
}
