#searchBar {
    width: 500px;
}

/* .backgroundPic {

} */

#allProfPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    /* border: 1px green solid; */
    margin: 3px;
}

.profDiv {
    width: 50%;
    border: 2px black solid;
    margin: 5px;
}
