#searchBar {
    width: 300px;
}

#allProfPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profDiv {
    display: flex;
    width: 500px;
    border: 2px black solid;
    margin: 5px;
    height: auto;
}

#allProfInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profPic {
    width: 100px;
    height: 100px;
}

div{
    margin: 3px;
  }
